.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #2e2e2e; /* Dark but not black background */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto; /* גלילה אנכית */
}

.title {
  margin-bottom: 20px;
  color: #8AC7DB;;
}

.label {
  margin-bottom: 20px;
  font-size: 18px;
}

.select {
  margin-left: 10px;
  padding: 5px;
  font-size: 16px;
}

.matrices {
  display: flex;
  gap: 20px;
  overflow-x: auto; /* גלילה אופקית */
  justify-content: flex-start;
  max-width: 100%; /* שמירה על רוחב המקסימלי */
}

.matrix {
  display: grid;
  gap: 10px;
  min-width: max-content; /* מבטיח שהמטריצה לא תיחתך */
  max-height: 90vh; /* הגבלת גובה המטריצות */
}



.row {
  display: flex;
}

.cell {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.cell:focus {
  border-color: #0070f3;
  outline: none;
}

.saveButton {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #0070f3;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.saveButton:hover {
  background-color: #005bb5;
}

.savedMatrix {
  margin-top: 20px;
}

.savedCell {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: inline-block;
  line-height: 40px;
  margin-right: 5px;
}

.optionButtons {
  padding-top: 100px; /* או כל ערך אחר שתרצה */
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.optionButtons button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 4px;
}

.optionButtons .activeButton {
  background-color: #0070f3;
  color: white;
  border-color: #0070f3;
}

.option2Container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputBox {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
}
.topRightButton {
  position: fixed; /* מקבע את הכפתור כך שיהיה תמיד במקום הזה במסך */
  top: 60px; /* מרחק של 10 פיקסלים מהחלק העליון של המסך */
  right: 10px; /* מרחק של 10 פיקסלים מהצד הימני של המסך */
  padding: 10px 20px; /* ריפוד בתוך הכפתור */
  font-size: 16px; /* גודל הטקסט */
  background-color: #0070f3; /* צבע רקע */
  color: white; /* צבע הטקסט */
  border: none; /* ללא גבול */
  border-radius: 4px; /* פינות מעוגלות */
  cursor: pointer; /* מצביע עכבר בצורת יד */
}

.topRightButton:hover {
  background-color: #005bb5; /* צבע רקע כשמעבירים את העכבר מעל הכפתור */
}