.container {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #2e2e2e;
  color: #e0e0e0;
  left: 0;
  width: 100%;
  top: 0;
  height: 100%;
}

.explanation {
  margin-bottom: 20px;
  text-align: center;
  margin-top: -90px; /* מרווח שלילי להזזת הכותרת למעלה */
}

.explanation h1 {
  font-size: 36px; /* הגדלת גודל הכותרת */
  margin-bottom: 40px; /* הוספת מרווח מתחת לכותרת */
}

.modal {
  background-color: #3c3c3c;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.title {
  margin-bottom: 20px;
}

.options {
  display: flex;
  justify-content: space-around;
}

.option {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  background-color: #4c4c4c;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  color: #e0e0e0;
  font-size: 18px;
  margin: 0 10px;
  transition: background-color 0.3s;
}

.option:hover {
  background-color: #606060;
}

.optionSelected {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  background-color: #0099cc;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  color: #e0e0e0;
  font-size: 18px;
  margin: 0 10px;
  transition: background-color 0.3s;
}

.optionSelected:hover {
  background-color: #0077aa;
}
